$("#like_button_of_<%=@initial%><%=params['likable_id']%>").html("<%= escape_javascript(render('likes/dislike_button', post_id: @like.likable_id, likable_type: params['likable_type'])) %>");

<% if @initial == 'p' %>
  $("#like_button_of_<%=@initial%><%=params['likable_id']%>").prepend('<span class="lead" >(<%= @post.like_count %>)</span>')
<% end %>

