<li>
  <div class="avatar_container">
    <%= avatar_for(user) %>
  </div>
  <%= link_to name(user), user %>
  <% if current_user.admin? && current_user != user %>
    <%= link_to "delete", user, method:  :delete,
                                  data: { confirm: "You sure?" } %> 
    <% if user == current_user %>
      <span >Current User</span>
    <% else%>
      <% if user.admin? %>
        <%= link_to 'Remove as Admin', remove_admin_status_user_path(user), method: :post, data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= link_to 'Assign as Admin', assign_admin_status_user_path(user), method: :post, data: { confirm: 'Are you sure?' } %>
        <%= link_to "Ban User", "", :class => "btn", "data-toggle" => "modal", "data-target" => "#my-modal", "data-user" => user.id %>
      <% end %>
    <% end %>
  <% end %>
</li>