<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <hr>
    <section class="stats">
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if signed_in? %>
    </section>
  </aside>

  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <div class="container user_avatars">
        <% @users.each do |user| %>
          <div class="row ">
            <hr>
            <%= avatar_for(user) %>
              <div>
              Name:
              <%= link_to name(user), user %>
              </div>
              <div>
              Email:
              <%= user.email %>
              </div>
          </div>
        <% end %>
        <%= will_paginate %>
      </div>
    <% end %>
  </div>

</div>