<div class="container col-sm">
  <h2>User Data</h2>
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
  <%= render 'follow_form' if user_signed_in? %>

  
  <p><%= link_to 'Posts', user_posts_path(@user) %></p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%if current_user.admin?%>
    <%= link_to 'Back', users_path %>
  <% else %>
     <%= link_to 'Back', home_index_path %>
  <% end %>
  
</div>
