<% provide(:title, @user.first_name) %>

<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= avatar_for(@user) %>
        <div><%= name(@user) %></div>
        <div><%= @user.email %></div>
        <div><% if current_user.admin? || current_user == @user %>
          <%= link_to 'Edit', edit_user_path(@user) %>
        <% end %></div>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if signed_in? %>
    </section>
  </aside>
  <div class="col-md-9">
    <% if @posts.present? %>
      <h3 class = "post_count">POSTS (<%= @posts.size %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
    <% end %>

  </div>
</div>