<div class="post_container">
<h1 >Posts</h1>

<%# <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Likes</th>
      <th>Comments</th>
      <th>Is public</th>
      <th>Is drafted</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead> %>


  <% @posts.each do |post| %>

    <%= post.id%>

    <%= post.title %>
    <%= post.content %>
    <%= post.likes %>
    <%= post.is_public %>
    <%= post.is_drafted %>
    <%= post.tags %>
    <%= link_to 'Show', [current_user, post]  %>
    <%= link_to 'Edit', edit_user_post_path(id:post.id) %>
    <%= link_to 'Destroy', [current_user,post], method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
    <br>
    <%= link_to 'Like', [current_user,post] %>
    <%= link_to 'Comment',new_user_post_comment_path(post_id:post.id,)%>
    

    <%@comments = post.comments.paginate(page: params[:page])%>
    <div class="col-sm-12">
      <% if @user.comments.any? %>
        <h3>Comments (<%= post.comments.count %>)</h3>
        <ol class="comments">
          <%= render @comments %>
        </ol>
        <%= will_paginate @comments %>
      <% end %>
    </div>

    <br>
    <hr><br>
  <% end %>

<br>

<%= link_to 'New Post', new_user_post_path %>
</div>